*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

.display-none{
    display: none;
}

.section{
    width: 100%;
    padding: 40px 80px;
}

.section-header{
    text-align: center;
    margin-bottom: 25px;
    line-height: 1.1em;
}

.section-header-title{
    margin-bottom: 25px;
    font-weight: 300;
    font-size: 1.8em;
}

.section-header-subtitle{
    font-size: 1.2em;
    font-weight: 300;
    margin-bottom: 12px;
}

.main-wrapper{
    display:flex;
    flex-direction: column;
}

.aside-wrapper{
    display:flex;
    flex-direction: column;
    
}

.bg-black{
    background-color: black;
}

.container{
    max-width: 80%;
    margin: 0 auto;
}

.d-flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.py-10px{
    padding-top: 10px;
    padding-bottom: 10px;
}

.bg-light{
    background-color: #d8d8d8;
}


.logo{
    flex-basis: 10%;
    filter: invert(100%);
}

.logo img{
    width:130%;
}

.courses{
    display: flex;
    flex-basis: 100%; /*ocupar 100% de onde estiver*/
    justify-content: space-between; /*espalhe seu conteudo de forma justificada em determinado eixo*/
}

.courses .course{
    flex-basis: calc(100% / 3 - 16px);
    background-color: white;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.courses .mkt-course{
    flex-basis: calc(100% / 2 - 16px);
    background-color: white;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.courses .mkt-course .cover,
.courses .course .cover{
    flex-basis: 100%;
    max-width: 100%;
    margin-bottom: 0;
}
.courses .mkt-course .cover img,
.courses .course .cover img{
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
    margin: 0;
}
.courses .mkt-course header,
.courses .course header{
    padding: 16px 40px;
}
.courses .mkt-course header h1,
.courses .course header h1{
    text-align: center;
}
.courses .mkt-course ul,
.courses .course ul{
    padding: 16px 32px 40px 40px;

}
.courses .mkt-course ul,
.courses .course ul{
    list-style: none;
}

.end-page{
    padding-bottom: 40px;
    background-color: #ff4021;
    padding-top: 20px;
    
}
.main-nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main-nav ul li{
    margin-left: 16px;
    text-transform: uppercase;
    font-size: .875em;
    font-weight: bold;  
}

.main-nav ul li a{
    text-decoration: none;
    color: #fdf8f8;
    transition: all;
    transition-duration: .3s;
}

.main-nav ul li a:hover{
    color: #ff4021;
}

.relatedcourses{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-nav ul{
    list-style: none;
    display: block;
    margin-top: 20px;
    
}

.second-nav ul li{

    padding: 5px 0 10px 10px;
    display: flex;
    flex-direction: row;
    
}

.second-nav ul li img{
    width: 5%;
    padding-right: 10px;
}

.second-nav ul li a{
    font-size: 1em;
    text-decoration: none;
    font-weight: bold;
    color: black;
    transition:all;
    transition-duration: .3s;
    align-self: center;
}

.second-nav ul li a:hover{
    color:white;
}

.border{
    border-top: 10px solid black;
}